@using Usuarios_identity.ViewModels
@using Microsoft.AspNetCore.Identity
@model List<UsuariosViewModel>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Pagina de inicio";
}

<h1>Control de usuarios</h1>

<div class="container mt-4">

	<div class="row mt-3 mb-3">
		<form method="get" asp-controller="Home" asp-action="Index" class=" w-100">
			<div class="col-4">
				<label class="form-label">Busqueda</label>
				<input class="form-control" placeholder="ejemplo@mail.com" name="user" />
			</div>
			<div class="col-2 mt-1">
				<button type="submit" class="btn btn-warning">Buscar</button>
			</div>
		</form>

	</div>

	<div class="row mt-3 align-items-center ">
		@if (Model.Count() > 0)
		{
			<table class="table table-dark table-striped rounded-1 text-center w-100" id="datos-usuarios">
				<thead>
					<tr>
						<th>Nombre completo</th>
						<th>Email</th>
						<th>Telefono / celular</th>
						<th>Dirección</th>
						<th>Fecha de Nacimiento</th>
						<th>Edad</th>
						@if (User.IsInRole("Administrador"))
						{
							<th>Editar</th>
						}
					</tr>
				</thead>
				<tbody>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@item.Nombre  @item.ApellidoPaterno @item.ApellidoMaterno
								@if (User.Identity.Name == item.Email)
								{
									<i class="bi bi-check2-circle"></i>
								}

							</td>
							<td>@item.Email</td>
							<td>
								@{
									var number = "";
									if (item.Telefono is not null)
									{
										number += "Tel:" + @item.Telefono.ToString();
									}

									if (item.Celular is not null)
									{
										number += " Cel:" + @item.Celular.ToString();
									}
								}
								<p>@number</p>

							</td>
							<td>@item.Direccion</td>
							<td>@item.FechaNacimiento.ToString(string.Format("dd/MM/yyyy"))</td>
							<td>@item.Edad</td>
							@if (User.IsInRole("Administrador"))
							{
								<td>
									<a class="btn btn-success" asp-controller="Ediciones" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a>
									<a class="btn btn-danger" onclick="preguntar('@item.Id')"><i class="bi bi-trash-fill"></i></a>
								</td>

							}
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<h3>No hay usuario para esa búsqueda.</h3>
		}
	</div>


</div>


@section Scripts{
	<partial name="_ValidationScriptsPartial" />

	<script type="text/javascript">

		function preguntar(id) {
			Swal.fire({
				title: '¿Estás seguro?',
				text: "No hay marcha atrás.",
				icon: 'warning',
				footer: "Recuerda que no se puede eliminar al usuario loggeado.",
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Si',
				cancelButtonText: 'No'
			}).then((result) => {
				if (result.isConfirmed) {
					eliminar(id);
				}
			})
		}

		function eliminar(id) {
			var urlCompleta = window.location.protocol + "//" + window.location.host + "/Ediciones/Borrar/" + id
			console.log(urlCompleta)
			fetch(urlCompleta, { method: 'DELETE' })
				.then(async response => {
					if (response.ok) {
						Swal.fire(
							'!Eliminado!',
							'Se eliminó el usuario.',
							'success'
						)
						location.reload();
					}
					else {
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: response.error,
						})
					}
				})
				.catch(error => {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Algo no salió bien',
					})
				});
		}

		$(document).ready(function() {
			$('#datos-usuarios').DataTable({
				searching: false,
				paging: true,
				scrollX: true,
				"pageLength": 4,
				"ordering": false,
				"lengthChange": false,
				language: {
					"decimal": "",
					"emptyTable": "No hay información",
					"info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
					"infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered": "(Filtrado de _MAX_ total entradas)",
					"infoPostFix": "",
					"thousands": ",",
					"lengthMenu": "Mostrar _MENU_ Entradas",
					"loadingRecords": "Cargando...",
					"processing": "Procesando...",
					"search": "Buscar:",
					"zeroRecords": "Sin resultados encontrados",
					"paginate": {
						"first": "Primero",
						"last": "Ultimo",
						"next": "Siguiente",
						"previous": "Anterior"
					}
				},
				"dom": '<"top"f>rt<"bottom"lp><"clear">'
			});
		});

	</script>
}